.box{
  /* background-color: black; */
  /* background-image: linear-gradient(to right, rgb(39, 38, 38), rgb(97, 96, 96)); */
  background: linear-gradient(to right,black, rgb(73, 71, 71));
  height: 120vh ;
  width: auto;
}


.btn{
  margin-left: 10px;
  width: 120px;
}

.searchbar{
  display: flex;
  position: relative;
  top: 30%;
  left: 40%;
  margin-top: 6%;
  margin-bottom: 4%;
  transform: translate(-30%,10%);
}

.nav{
  font-size: 26px !important;
  color: white !important;
}

.header{
  background-color: rgb(28, 151, 28) !important;
  font-style: italic;
}

.card{
  background-color: rgba(54, 54, 56, 0.473)   !important;
  color: white;
}

.temperature{
  font-size: 46px;
  color: #FF0266;
  font-weight: bold;
  font-style: italic;
}

.about{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  text-align: center;
  
}
